*{
  padding: 0cm;
  margin: 0cm;
  background-color:black;
  text-align: center;
  color: white;
  font-family: 'Akshar', sans-serif;
}
.name{
    color: white;
    font-size: 3em;
    margin: 0cm 1cm 0.5cm;
}
.greed{
    display: grid;
  grid-template-columns: 2fr 1fr ;
  align-items: center;
}
.end{
    background-color: white;
    color: black;
}
.btn{
    margin: 0.5cm;
}
.headi{
    color: white;
}
.top{
    padding: 1cm;
}
.tiger{
    width: 100%;
    display: block;
    text-align: left;
    margin: 0.5cm;
}
.hai{
    padding-top: 1cm;
}
.nai{
    padding-bottom: 1cm;
}
.okk{
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}
hr{
    color: white;
}
.join{
    color: white;
    padding: 7px;
    border-radius: 10px;
}
p{
    color: white;
    background-color: black;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    border: white 2px solid;
    margin-top: 7px;
}
h4{
    width: 50%;
    margin: 10px auto 0cm;
}
.red{
   background-color: red;
   font-family: 'Square Peg', cursive;
   border-top: 1cm white solid;
}
